body {
    font-family: GT Sectra;
    line-height: 40px;
    background-color: black;
}
h1{
    font-size: 40px;
    color:whitesmoke;
    line-height: 80px;
    background-color: dimgrey;
    
}
b {
    font-size: 16px;
    color:whitesmoke;
    background-color: dimgrey;
}

p.assignments {
    font-size: 20px;
    font-weight: bold;
    color:whitesmoke;
    background-color: dimgrey;
    
}

a:link {
    font-size: 
    color:whitesmoke;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

 a:visited {
    color:darkgrey;
}