body {
    font-family: avenir;
    line-height: 25px;
    background-color: powderblue;
}
h1{
    font-size: 50px;
    color:goldenrod;
}
b {
    font-size: 16px;
    color:palegoldenrod;
}

p.assignments {
    font-size: 20px;
    font-weight: bold;
    color:cadetblue;
    background-color: lightgoldenrodyellow;
    
}

a:link {
    font-size: 
    color:white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

 a:visited {
    color:lightcoral;
}